@font-face {
  font-family: 'Vazirmatn';
  src: url('./fonts/Vazirmatn-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.woff2') format('woff2');
}

/* تمام متن‌های فارسی */
body, h1, h2, h3, h4, h5, h6, p, label, button, input, select, textarea {
  font-family: 'Vazirmatn', sans-serif !important;
  direction: rtl;
  text-align: right;
}

/* متن‌های انگلیسی با کلاس en */
.en {
  font-family: 'Roboto', sans-serif !important;
  direction: ltr;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
